:root {
  --primary-color: rgb(255, 136, 0);
}

.btn {
  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  text-align: center;
  border: 0;
  outline: none;
  border-radius: 10px;
  width: 120px;
  margin-left: 10px;
  box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: small;
 
}

.btn.add {
  background-color: #f39428;
}

.btn.remove {
  background-color: #f0805e;
}

.btn.checkout {
  background-color: rgb(121, 85, 38);
  width: 150px;
  color: #fff;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn.add:hover {
  background-color: #ed960b;
}

.btn.add:active {
  background-color: #ad9a1c;
}

.btn.remove:hover {
  background-color: rgb(250, 33, 0);
}
.btn.remove:active {
  background-color: rgb(145, 179, 25);
}

.btn.checkout:hover {
  background-color: rgb(141, 114, 41);
}
.btn.checkout:active {
  background-color: rgb(30, 93, 41);
}
