:root {
  --primary-color: #b321e0;
  --text-color:#ff00;
}
body{
  background-color:  var(--tg-theme-bg-color);
}
html.dark body {
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: var(--tg-theme-secondary-bg-color, #0f0f0f);
  --text-color: #fff;
  --page-hint-color: #9b9ba1;
  --hint-color: #64666d;
  --placeholder-color: #5d6163;
}

.card__title {
  font-weight: 600wp;
  text-align: center;
  color:black;
  /* color: #e22323; */
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color)
  color: var(--text-color);
}

.card__title .card__price {
  font-weight: bold;
  color: var(--text-color);
  
}

.image__container {
  width: 65px;
  height: 65px;
  margin: 10 auto;
  align-items: center;
  margin: 0;
  padding-left: 10px;
}

.image__container img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.card__badge {
  position: absolute;
  top: 12px;
  right: 9px;

  width: 30px;
  height: 30px;
  background-color: rgb(255, 115, 0);
  border-radius: 50%;
  transform: translate(20px, -20px) scale(1);
  color:white;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(247, 247, 247);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  animation: scaleanimation 1s ease infinite;
  opacity: 0.8;
}

@keyframes scaleanimation {
  to {
    transform: translate(20px, -20px) scale(1.05);
    opacity: 1;
  }
}

.card__badge--hidden {
  display: none;
}
