form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    display: block;
    margin-top: 0px;
    /* padding: 5px 20px 3px 4px; */
    font-size: 16px;
    background-color: #e08b1d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /*  this is for orders  */
  .horizontal-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px;
  }
  
  .order-item .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
  }
  
  .order-item div {
    margin-left: 10px;
  }
  
  .order-item p {
    margin: 0;
  }
  
  .order-item .success {
    color: green;
  }
  
  .order-item .failure {
    color: red;
  }